API_BASE_URL=https://api.dev.goturnly.com/api/v1
APP_BUNDLE_ID_IOS=com.turnly.customer.dev
APP_BUNDLE_ID_ANDROID=com.turnly.customer.dev
APP_DEEP_LINK_HOST=dev.goturnly.com
REVERB_APP_KEY=
REVERB_HOST=api.dev.goturnly.com
REVERB_PORT=443
REVERB_SCHEME=https
